*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: #680bda;
    font-family: 'Courier New', Courier, monospace;
    color: #eaeaea;
    padding-top: 20px;
    
}
.div-body{
    background-color: #ffffff;
}
.infor{
    background-color: #ffffff;
}
.d-none{
    display: none;
}
h2{  
   line-height: 80px;
}
#Logo{
    margin: 0px 50px;
    width: 150px;
    height: 50px;
    float: left;
    font-size: 30px;
}
.nav-bar ul{
    list-style: none;
} 
.nav-bar ul li {
    padding: 10px 20px;
    float: right;
    
}
.nav-bar ul li:hover{
    background-color: #dba11e;
}
a{
text-decoration: none;
background: transparent;
display: block;
color: white;
}
.div-body{
    display: flex;
}
.container{
    background-color: white;
    width: 75%;
    height: auto;
    margin: 0px auto;
}
.infor{
    margin: 20px 0px 10px 0px;
    font-size: 25px;

}
.form-create{
    width: 100%;
    display: flex;
}
.create-product{
   padding-top: 20px;
   margin: 0px;
   width: 100%;
   height: auto;
   display: flex;
   background-color: #eaeaea;
   text-align: center;
   border-top-left-radius: 10px;
  
}
.lb-information{
    background-color: #703c8c;
    width: auto;
    width: 25px;
    height: 20px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-weight: 800;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    color: rgb(0, 0, 0);
    padding: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.lb-information:hover{
    transform: scale(1.02);
    transform: 0.2s;
}
.ip-information{
    height: 30px;
    border: none;
    border-radius: 0px ;
    padding: 0px 10px;
    margin: 5px 0px;
    width: 80%;
    font-weight: 600;
}
.ip-information:hover{
    transform: scale(1.05);
    transform: 0.2s;
    border: 2px #703c8c solid;
}
.product-img{
  margin-left: 80px;
  margin-top: 5px;
  padding-right: 20px;
  width: 25%;
  height: auto;
}
.product-img>input{
    width: 100%;
    height: 90%;
    vertical-align: middle;
}
.product-img>input:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.product-create{
    width: 45%;
    height: auto;
    margin: 10px;
    align-items: center;
    
}
.infromation-group{
    display: flex;
    align-items: flex-end;
    margin-bottom: 0px;
    
}
.infromation-group>label{
    margin: 5px 0px;
    flex: 1;
}
.action{
    text-align: center;
    width: 15%;
    margin: 10px 30px 10px 10px;
}

/* Tìm kiếm */

.button-find{
    padding: 10px;
    color: white;
    background-color: #703c8c;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.button-find>label{
    margin: 5px 5px;
    background-color: #eaeaea  !important;
    font-weight: 800px;
}
button{
    padding: 5px;
    margin: 3px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.lb-radio{
    margin: 0px 10px 0px 0px;
    color: black;
    border-radius: 20px;
    padding: 5px 7px;
    

}
#rd-name{
    margin: 0px 0px 0px 10px;
}
#ip-find{
    width: 40%;
    border-radius: 20px;
}
table{
    width: 100%;
    border: 1px black solid;
    text-align: center;
    border-collapse: collapse;
    font-weight: 700;
    box-shadow: 0 0px 0px rgb(0, 0, 0, 0);
}
table tr td {
    border: 1px rgb(29, 26, 26) solid;
    border-collapse: collapse;
}
table>thead{
    background-color: black;
    color: white;
    font-weight: bold;
}
table>tbody>tr>td>:nth-child(1){
    padding: 0px 10px;
}
table>tbody>tr>td>:nth-child(2){
    padding-left: 20px;
}
table>tbody>tr>td>:nth-child(3){
    padding-right: 10px;
}
table>tbody>tr>td>:nth-child(old){
    background-color: bisque;
}
table>body>tr:hover{
    background-color: aqua;
    cursor: pointer;
}
.bt-add{
    background-color: #66b53b;
    color: white;
    border-radius: 18px;
    border: 1px solid grey;
}
.bt-reset{
    background-color: #703c8c;
    color: white;
    border-radius: 18px;
    border: 1px solid grey;
}
.bt-add:hover{
    background-color: #dba11e;
}
.bt-save{
    background-color: rgb(63, 140, 233);
    border-radius: 18px;
    border: 1px solid grey;
    color: white;
}
.bt-save:hover{
    background-color: #dba11e;
}
.bt-cancel{
    background-color: rgb(156, 130, 54);
    border-radius: 18px;
    border: 1px solid grey;
    color: white;
}
.btn_edit{
    background-color: rgb(241, 162, 26);
    border-radius: 18px;
    border: 1px solid grey;
    color: white;
}
.btn_delete{
    background-color: rgb(219, 46, 46);
    border-radius: 18px;
    border: 1px solid grey;
    color: white;
    text-align: center;
}
.bt-cancel:hover{
    background-color: #dba11e;
}
.page-number-box{
    padding-bottom: 30px;
}
.page-number-box{
    padding-bottom: 30px;
}
.pagination-box{
    padding-bottom: 30px;
}
.pagination-box>ul{
    list-style: none;
}
.pagination-box>ul>li{
    display: inline-block;
}
.pagination-box>ul>li>button{
    border: none;
    outline: none;
    height: 30px;
    width: 50px;
    padding: 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(187, 195, 196);
    color: white;
    margin-top: 12px;
}
.pagination-box>ul>li>button:hover{
background-color: rgb(49, 49, 184);
color: azure;
}
input[type='radio']:checked::after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #dba11e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}